html, body {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.thin-scrollbar {
  overflow-y: auto;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: none;
}

/* Firefox */
.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.no-focus-outline:focus {
  outline: none;
}
